<h2>Usuarios</h2>

<button mat-raised-button color="primary" routerLink="/usuarios/nuevo">
  Nuevo Usuario
</button>

<table mat-table [dataSource]="usuarios" class="mat-elevation-z8 tabla">

  <!-- ID -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let u"> {{u.id}} </td>
  </ng-container>

  <!-- Email -->
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let u"> {{u.email}} </td>
  </ng-container>

  <!-- Empresa -->
  <ng-container matColumnDef="Empresa">
    <th mat-header-cell *matHeaderCellDef> Empresa </th>
    <td mat-cell *matCellDef="let u"> {{u.empresaId}} </td>
  </ng-container>

  <!-- Acciones -->
  <ng-container matColumnDef="acciones">
  <th mat-header-cell *matHeaderCellDef> Acciones </th>
  <td mat-cell *matCellDef="let u">

  <a mat-raised-button color="primary"
    [routerLink]="['/usuarios/editar', u.id]">
    ✏️ Editar
  </a>

  <button mat-raised-button color="accent"
    (click)="baja(u.id)">
    ⬇️ Baja
  </button>

  <button mat-raised-button color="warn"
    (click)="eliminar(u.id)">
    🗑️ Eliminar
  </button>

</td>
</ng-container>

  <!-- Headers -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <!-- Rows -->
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
