.container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

mat-card {
  width: 100%;
  max-width: 450px;
  padding: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}